<h2 style="margin-top:30px; color:green;">ALL TYPE LAPTOPS</h2>
<div class="banners-container" fxLayout="column" fxLayout.gt-sm="row" *ngIf="banners.length > 0">

    <div fxLayout="row" fxLayout.gt-sm="column" fxLayout.xs="column" fxFlex="100" fxFlex.gt-sm="25">
        <div fxLayout="row" fxFlexOrder="2" fxFlexOrder.gt-sm="1" fxFlex="50" fxFlex.gt-sm="50">

            <div class="banner" fxFlex [ngStyle]="getBgImage(0)">
                <div class="info" fxLayoutAlign="center center">
                    <div class="px-2" fxLayout="column" fxLayoutAlign="end center">
                        <h2 class="title">{{getBanner(0).title}}</h2>
                        <h4 class="subtitle">{{getBanner(0).subtitle}}</h4>
                        <a [routerLink]="['/products']" mat-raised-button color="primary" class="mt-2">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxFlexOrder="2" fxFlexOrder.gt-sm="1" fxFlex="50" fxFlex.gt-sm="50">

            <div class="banner" fxFlex [ngStyle]="getBgImage(1)">
                <div class="info" fxLayoutAlign="center center">
                    <div class="px-2" fxLayout="column" fxLayoutAlign="end center">
                        <h2 class="title">{{getBanner(1).title}}</h2>
                        <h4 class="subtitle">{{getBanner(1).subtitle}}</h4>
                        <a [routerLink]="['/products']" mat-raised-button color="primary" class="mt-2">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div fxLayout="row" fxLayout.gt-sm="column" fxLayout.xs="column" fxFlex="100" fxFlex.gt-sm="25">
        <div fxLayout="row" fxFlexOrder="2" fxFlexOrder.gt-sm="1" fxFlex="50" fxFlex.gt-sm="50">

            <div class="banner" fxFlex [ngStyle]="getBgImage(2)">
                <div class="info" fxLayoutAlign="center center">
                    <div class="px-2" fxLayout="column" fxLayoutAlign="end center">
                        <h2 class="title">{{getBanner(2).title}}</h2>
                        <h4 class="subtitle">{{getBanner(2).subtitle}}</h4>
                        <a [routerLink]="['/products']" mat-raised-button color="primary" class="mt-2">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxFlexOrder="2" fxFlexOrder.gt-sm="1" fxFlex="50" fxFlex.gt-sm="50">

            <div class="banner" fxFlex [ngStyle]="getBgImage(3)">
                <div class="info" fxLayoutAlign="center center">
                    <div class="px-2" fxLayout="column" fxLayoutAlign="end center">
                        <h2 class="title">{{getBanner(3).title}}</h2>
                        <h4 class="subtitle">{{getBanner(3).subtitle}}</h4>
                        <a [routerLink]="['/products']" mat-raised-button color="primary" class="mt-2">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div fxLayout="row" fxLayout.gt-sm="column" fxLayout.xs="column" fxFlex="100" fxFlex.gt-sm="25">
        <div fxLayout="row" fxFlexOrder="2" fxFlexOrder.gt-sm="1" fxFlex="50" fxFlex.gt-sm="50">

            <div class="banner" fxFlex [ngStyle]="getBgImage(4)">
                <div class="info" fxLayoutAlign="center center">
                    <div class="px-2" fxLayout="column" fxLayoutAlign="end center">
                        <h2 class="title">{{getBanner(4).title}}</h2>
                        <h4 class="subtitle">{{getBanner(4).subtitle}}</h4>
                        <a [routerLink]="['/products']" mat-raised-button color="primary" class="mt-2">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxFlexOrder="2" fxFlexOrder.gt-sm="1" fxFlex="50" fxFlex.gt-sm="50">

            <div class="banner" fxFlex [ngStyle]="getBgImage(5)">
                <div class="info" fxLayoutAlign="center center">
                    <div class="px-2" fxLayout="column" fxLayoutAlign="end center">
                        <h2 class="title">{{getBanner(5).title}}</h2>
                        <h4 class="subtitle">{{getBanner(5).subtitle}}</h4>
                        <a [routerLink]="['/products']" mat-raised-button color="primary" class="mt-2">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div fxLayout="row" fxLayout.gt-sm="column" fxLayout.xs="column" fxFlex="100" fxFlex.gt-sm="25">
        <div fxLayout="row" fxFlexOrder="2" fxFlexOrder.gt-sm="1" fxFlex="50" fxFlex.gt-sm="50">

            <div class="banner" fxFlex [ngStyle]="getBgImage(6)">
                <div class="info" fxLayoutAlign="center center">
                    <div class="px-2" fxLayout="column" fxLayoutAlign="end center">
                        <h2 class="title">{{getBanner(6).title}}</h2>
                        <h4 class="subtitle">{{getBanner(6).subtitle}}</h4>
                        <a [routerLink]="['/products']" mat-raised-button color="primary" class="mt-2">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxFlexOrder="2" fxFlexOrder.gt-sm="1" fxFlex="50" fxFlex.gt-sm="50">

            <div class="banner" fxFlex [ngStyle]="getBgImage(7)">
                <div class="info" fxLayoutAlign="center center">
                    <div class="px-2" fxLayout="column" fxLayoutAlign="end center">
                        <h2 class="title">{{getBanner(7).title}}</h2>
                        <h4 class="subtitle">{{getBanner(7).subtitle}}</h4>
                        <a [routerLink]="['/products']" mat-raised-button color="primary" class="mt-2">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

