<app-main-carousel [slides]="slides"></app-main-carousel> 

<div class="products-tabs">  

        <mat-tab-group mat-stretch-tabs (selectedTabChange)="onLinkClick($event)">
           
            <mat-tab label="Featured"  style="font-size:30px !important;">           
               <app-products-carousel [products]="featuredProducts" ></app-products-carousel>
            </mat-tab>
            <mat-tab label="On Sale">
               <app-products-carousel [products]="onSaleProducts"></app-products-carousel>
            </mat-tab>
            <mat-tab label="Top Rated">
                <app-products-carousel [products]="topRatedProducts"></app-products-carousel>
            </mat-tab>
            <mat-tab label="New Arrivals">
                <app-products-carousel [products]="newArrivalsProducts"></app-products-carousel>
            </mat-tab>
        </mat-tab-group> 
    
    
    </div>

<app-banners [banners]="banners"></app-banners>



<app-brands-carousel [brands]="brands"></app-brands-carousel> 